include ./pug/mixins
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Trip html css
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./app.css")
  body
  .tour-list-container
    .tour-list
      +tourItem("https://plus.unsplash.com/premium_photo-1675804669850-a1c3b87589d5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8c2NlbmVyeXxlbnwwfHwwfHx8MA%3D%3D", "From $100", "Thailands Ayutthaya Temples Cruise from Bangkok", 4.8, 150, "10 hours", 200)
      +tourItem("https://images.unsplash.com/photo-1537824598505-99ee03483384?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "From $120", "FLoating Markets Day Trip from Bangkok", 4.6, 200, "12 hours", 250)
      +tourItem("https://plus.unsplash.com/premium_photo-1677347335105-1bd16607a25e?q=80&w=1967&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", "From $199", "Bangkok Dinner Cruise on the Chao Phraya River", 4.9, 300, "15 hours", 350)

